
  <% @hotels.each do |hotel| %>

      <div class='main_p'>
        <%= image_tag(hotel.photo) %>
        <div class="one">
          <h3><%= hotel.name %></h3>
          <p class="desc"><%= sanitize(hotel.description) %></p>
        </div>  
        <div class="price_line">
          <span class="price"><%= number_to_currency(hotel.price) %>  
        </div> 
        <div>
	  <p><%= hotel.breakfast %></p>
        </div>
        <div>
	  <p><%= hotel.address %></p>
        </div>
        <div>
	  <p><%= hotel.rating %>/5</p>
        </div>
 	
        <div class="review">
	  <p><%= link_to "Add comment",new_review_path,  :class => 'btn btn-default' %></p>
	 
        </div>
      </div>

  <% end %>

